extends layout

block content
  header
    // add a bootstrap navbar
    // Documentation about navbars at https://getbootstrap.com/docs/5.2/components/navbar/
  nav#myfirstnavbar.navbar.navbar-expand-md.navbar-dark.bg-primary.mb-4
      .container-fluid
        a.navbar-brand(href='#')= title
        i.bi.bi-camera.me-3
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
  
  h3 Welcome to the #{title}
  br 
  p Type /search to search in the Digital Photo Organizer 
  p Type /add to add new elements to the Organizer

block foot 
  footer
  .navbar.navbar-expand-md.fixed-bottom.bg-primary.justify-content-center
    span.text-white This is a simple example of footer.
