extends layout


block scripts
  script.
    let geojson = !{JSON.stringify(data)}
  // Loading the API Keys (Mapbox and Here)
  script(src="/javascripts/apiKeys.js")
  script(src="/javascripts/map06.js")

block content
  header
    // add a bootstrap navbar
    // Documentation about navbars at https://getbootstrap.com/docs/5.2/components/navbar/
  nav#myfirstnavbar.navbar.navbar-expand-md.navbar-dark.bg-primary.mb-4
      .container-fluid
        a.navbar-brand(href='#')= title
        i.bi.bi-camera.me-3
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Documentation about buttons at https://getbootstrap.com/docs/4.0/components/buttons/
        // add a collapsible section
        #navbarCollapse.collapse.navbar-collapse.mt-1
          form.d-flex
            input#pictures.form-control.me-2(type='search' placeholder='POI Name' aria-label='Search')
            button.btn.btn-dark(type='submit') Search

  main
    .container
      .row
        // add a color picker
        p
          label(for="color_selector") Pick a color
          input(type="color" id="color_selector" title="Choose your color")
      .row.mb-5
        // first column: add an information card from bootstrap
        .col
          #information.card
            .card-body
              h5.card-title Card title
              h6.card-subtitle.mb-2.text-muted Card subtitle
              p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
              a.card-link(href="#") Card link
        // second column: div to show the map
        .col
          // Div to show the map
          #myfirstmap

block foot 
  footer
  .navbar.navbar-expand-md.fixed-bottom.bg-primary.justify-content-center
    span.text-white This is a simple example of footer.